<div class="center">
    <h1>Login to System to use services</h1>
    <form [formGroup]="loginForm" (submit)="login()">
        <div class="row">
            <div class="col">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email" placeholder="Email"
                formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="password"
                formControlName="password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="role">Role</label>
                <select id="role" name="role" formControlName="role" class="form-select">
                    <option value="" [selected]="true" [disabled]="true">Select User role</option>
                    <option value="0">Customer</option>
                    <option value="1">Admin</option>
                </select>
            </div>
        </div>
        <div class="button-group">
            <input type="submit" class="btn btn-success" value="Submit" [disabled]="loginForm.invalid">
            <input type="button" class="btn btn-primary" value="Reset" (click)="reset()">
        </div>
    </form>
    <a class="signup btn btn-link" routerLink="/signup">Not a user! signup</a>
</div>