.center{
    width: 450px;
    max-width: 450px;
    margin: 10px auto;
}

.center h1{
    text-align: center;
}

.form-label{
    font-size: 18px;
}

.button-group, .login{
    display: flex;
    column-gap: 15px;
    width: 200px;
    margin: 5px auto;
}

.row{
    margin-bottom: 5px;
}